* text=auto
*.in text eol=lf
*.md text eol=lf
*.py text eol=lf
*.schema text eol=lf
*.toml text eol=lf
*.txt text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
